{{ define "main" }}
<div class="prose max-w-none mx-4 md:mx-12 xl:mx-48 my-16">
    <h1 class="font-thin text-5xl text-gray-500 mt-3 py-3 text-center">
            My {{ .Title }}
        </h1>
        <div class="border-b-2"></div>
{{ $pages := .Pages }}
{{if eq .Type "projects"}}
{{ $pages = .Pages.ByParam "portfolio_score"}}
{{ end }}
{{ range $pages.Reverse }}
    {{ $page := . }}
    <article class="text-gray-700 sm:mx-12 my-8 wrapper">
        <div class="flex gap-x-8 items-center transition duration-300 p-4 rounded-md border-1 hover:shadow-lg transform hover:-translate-x-0.5 hover:-translate-y-0.5">
            {{if isset $page.Params "image"}}
            {{ $image := $page.Resources.GetMatch (printf "%s%s" "images/" $page.Params.image) }}
            <div class="hidden sm:block">
                <img src="{{$image.RelPermalink}}" class="h-auto w-96" />
            </div>
            {{ else }}
            <div class="hidden sm:block h-full w-96 rounded-md border-2 border-purple-200 bg-gradient-to-tr from-purple-100 to-purple-300">
            </div>
            {{ end }}
            <div>
        <h2 class="font-bold font-thin text-3xl text-gray-700 text-center"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div>
            {{ .Summary }}
            {{ if .Truncated }}
            <a href={{.RelPermalink}}>Read more...</a>
            {{ end }}
            {{ if isset .Params "github" }}
             | <a href="{{ .Params.github }}">Check it out on Github!</a>
            {{ end }}
        </div>
    </div>
        </div>
    </article>
{{ end }}
</div>
{{ end }}