{{ define "main" }}
<article class="text-gray-700 sm:mx-12 wrapper">
    <h1 class="font-bold text-3xl text-gray-700 text-center">{{ .Title }}</h1>
    <div class="full-bleed border-b">
    </div>
    {{ if isset .Params "github"}}
    <a
        type="button"
        class="w-0.125 my-8 mx-auto border border-black bg-black text-gray-500 font-bold rounded-md px-4 py-2 select-none hover:text-purple-400 focus:outline-none focus:shadow-outline text-center"
        href="{{ .Params.github }}"
    >
        Check it out on Github!
    </a>
    {{ end }}
    {{ .Content }}
</article>
{{ end }}