.starter {
  color: blue;
}

a {
  color: #b794f4;
}

a:hover {
  color: #000000;
}

p {
  margin: 1rem;
}

/* purgecss ignore */
img {
  width: 100%;
  height: auto;
}

.logo {
  width: 2rem;
}

hr {
  border-width: 1px;
}