@tailwind base;
@tailwind compoennts;
@tailwind utilities;

    .starter {
        color: blue;
    }

    pre {
        padding: 1rem;
    }

    pre code { white-space: pre-wrap; }

    a {
        color: #b794f4;
    }

    a:hover {
        color: #000000;
    }

    p {
        margin: 1rem;
    }

    /* purgecss ignore */
    img[src$='#center'] {
        display: block;
        margin: 0.7rem auto;
    }

    .logo {
        width: 2rem;
    }

    hr {
        border-width: 1px;
    }

    .wrapper {
        display: grid;
        grid-template-columns:
            1fr
            1fr
        min(65ch, 100%)
        1fr
        1fr;
    }

    .wrapper > * {
        grid-column: 2 / 5;
    }

    /* purgecss ignore */
    .full-bleed {
        width: 100%;
        grid-column: 1 / 6;
    }

    .full-bleed > * {
        grid-column: 2;
    }

    .bg-hero {
        background-image: url('/hero.jpg');
    }