@import url(//fonts.googleapis.com/css?family=Roboto);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    @font-face {
        font-family: Roboto;
        font-weight: 400;
        src: url(//fonts.googleapis.com/css?family=Roboto);
    }
} */

    .starter {
        color: blue;
    }

    pre, .highlight pre {
        overflow-x: auto;
        font-size: smaller;
    }

    /* a {
        color: #b794f4;
    }

    a:hover {
        color: #000000;
    } */

    p {
        margin: 1rem;
    }

    /* purgecss ignore */
    img[src$='#center'] {
        display: block;
        margin: 0.7rem auto;
    }

    .logo {
        width: 2rem;
    }

    hr {
        border-width: 1px;
    }

    .wrapper {
        display: grid;
        grid-template-columns:
            1fr
            1fr
        min(65ch, 100%)
        1fr
        1fr;
    }

    .wrapper > * {
        grid-column: 2 / 5;
    }

    /* purgecss ignore */
    .full-bleed {
        width: 100%;
        grid-column: 1 / 6;
    }

    .full-bleed > * {
        grid-column: 2;
    }

    /* .bg-hero {
        background-image: url('/hero.jpg');
        background-size: cover;
        animation: fadein 0.5s;
    } */

    @keyframes fadein {
        from { opacity: 0; }
        to { opacity: 1; }
    }

.arrows {
	width: 60px;
	height: 72px;
	position: relative;
	left: 50%;
	margin-left: -30px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}