{{ define "main" }}
<style type="text/css">
{{ if .Params.hero_image }}
    {{ $page := . }}
    {{ with .Site.GetPage "section" "covers" }}
        {{ with .Resources.GetMatch (strings.TrimPrefix "/covers/" $page.Params.hero_image ) }}
            {{ $extraSmall := .Resize "768x" }}
            {{ $small := .Resize "992x" }}
            {{ $medium := .Resize "1200x" }}
            {{ $large := .Fill "1920x1080 center" }}

            @media (max-width: 767px) {
                .bg-hero {
                    background-image: url('{{ $extraSmall.RelPermalink }}')
                }
            }

            @media (min-width: 768px) {
                .bg-hero {
                    background-image: url('{{ $small.RelPermalink }}')
                }
            }

            @media (min-width: 992px) {
                .bg-hero {
                    background-image: url('{{ $medium.RelPermalink }}')
                }
            }

            @media (min-width: 1200px) {
                .bg-hero {
                    background-image: url('{{ $large.RelPermalink }}')
                }
            }
        {{ end }}
    {{ end }}
{{ else }}
.bg-hero {
    background-image: url('{{ .Site.Params.hero_image | relURL }}')
}
{{ end }}
</style>
<article class="text-center text-gray-700 prose lg:prose-xl">
    <div class="bg-hero min-h-9 md:min-h-screen bg-cover bg-no-repeat backdrop-filter backdrop-blur-lg">
        <div class="wrapper min-h-full md:min-h-screen py-12 md:py-24">
            <div class="flex flex-col justify-between content-center h-full">
                <h1 class="font-serif font-thin text-3xl md:text-5xl text-gray-500 bg-gray-100 bg-opacity-75 backdrop-filter backdrop-blur-sm md:p-4 p-2 md:my-4 my-2">{{ .Title }}</h1>
                <img src="me.jpg" class="mx-auto inline rounded-full h-64 sm:h-80 md:h-96 w-auto"/>
                <div class="bg-gray-100 bg-opacity-75 backdrop-filter backdrop-blur-sm md:p-4 p-2 md:my-4 my-2">
                    {{ .Content }}
                </div>
                <div class="flex justify-center">
                <div class="bg-gray-100 bg-opacity-75 p-8 rounded-full">
                <svg class="arrows">
                    <path class="a1" d="M0 0 L30 32 L60 0"></path>
                    <path class="a2" d="M0 20 L30 52 L60 20"></path>
                    <path class="a3" d="M0 40 L30 72 L60 40"></path>
                </svg>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-8">
    </div>
    <div class="text-left wrapper mx-4 md:mx-12 lg:mx-48 xl:px-48 mb-4">
    {{ range .Site.Sections.ByTitle.Reverse }}
        <h2 class="font-serif font-thin text-4xl text-gray-600 mt-3 py-3">
            Recent {{ .Title }}
        </h2>
        {{ range first 5 (.Pages.ByParam "portfolio_score").Reverse }}
                <div>
                    <a href="{{.Permalink}}">{{ .Title }}</a>
                </div>
                <div>
                    {{ .Summary }}
                </div>
        {{ end }}
        <a class="text-gray-600" href={{.Permalink}}>More {{ .Title }}...</a>
    {{ end }}
    </div>
</article>
{{ end }}